@charset "UTF-08";

/*
    em HTML é id = em CSS é # (só pode um elemento)
    em HTML é cass= 3M css É . (pode ter vários elementos) 

    */

body{
    background-color: rgb(197, 247, 197);
    font-family: Arial, Helvetica, sans-serif;
}

h1{ color: rgb(5, 64, 5);;
}
h1#principal{
    text-align: center;
    background-color: forestgreen;
    color: white;
}
h2{color: rgb(38, 164, 38);;

}
.basico{
    color: rgb(94, 176, 108);;
    font-weight: bold;   /* em negrito*/

}
.intermediario{
    color: rgb(221, 211, 23);;
}
.avançado{
    color: rgb(206, 25, 9);;
}
